In [5]:
#importing base libary's
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv("/content/bnf2010_23.csv")

In [7]:
df.head()

              Date     Open     High      Low    Close
0  Mon Jan 04 2010  9031.90  9129.45  9031.90  9112.35
1  Tue Jan 05 2010  9191.25  9214.00  9157.35  9192.15
2  Wed Jan 06 2010  9243.90  9265.54  9183.65  9223.00
3  Thu Jan 07 2010  9240.25  9261.85  9153.25  9192.95
4  Fri Jan 08 2010  9185.04  9214.35  9141.45  9160.70

In [8]:
df.shape

(3270, 5)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3270 entries, 0 to 3269
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3270 non-null   object
 1   Open    3270 non-null   float64
 2   High    3270 non-null   float64
 3   Low     3270 non-null   float64
 4   Close   3270 non-null   float64
dtypes: float64(4), object(1)
memory usage: 127.9+ KB

In [10]:
df=df.drop(columns='Date',axis=1)

In [12]:
df['High_1']=df['High'].shift(1)
df['Low_1']=df['Low'].shift(1)

In [13]:
df.head()

      Open     High      Low    Close   High_1    Low_1
0  9031.90  9129.45  9031.90  9112.35      NaN      NaN
1  9191.25  9214.00  9157.35  9192.15  9129.45  9031.90
2  9243.90  9265.54  9183.65  9223.00  9214.00  9157.35
3  9240.25  9261.85  9153.25  9192.95  9265.54  9183.65
4  9185.04  9214.35  9141.45  9160.70  9261.85  9153.25

In [14]:
df.isnull().sum()
df=df.drop(index=0)

In [15]:
df.head()
df.tail()

          Open      High       Low     Close    High_1     Low_1
3265  39820.40  40371.45  39745.40  40307.10  40348.10  39818.90
3266  40302.70  40391.45  40073.00  40269.05  40371.45  39745.40
3267  40473.85  40725.35  40341.95  40698.15  40391.45  40073.00
3268  40604.55  40773.25  40312.90  40389.80  40725.35  40341.95
3269  40671.40  41390.15  40605.35  41251.35  40773.25  40312.90

In [53]:
##spliting the into x and y
x=df.iloc[:,0:4]
y1=df['High_1']
y2=df['Low_1']
x.head()

      Open     High      Low    Close
1  9191.25  9214.00  9157.35  9192.15
2  9243.90  9265.54  9183.65  9223.00
3  9240.25  9261.85  9153.25  9192.95
4  9185.04  9214.35  9141.45  9160.70
5  9209.15  9248.00  9161.04  9173.54

In [54]:
##spliting the data into train and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y1,test_size=0.22,random_state=21)
x_train.head()

          Open      High       Low     Close
2834  35460.80  35545.85  35338.55  35443.65
2879  35954.55  36317.00  35890.50  36034.10
869   11323.35  11420.25  11210.75  11340.15
388   11230.05  11353.75  11204.75  11313.85
3031  35975.60  36468.80  35384.75  36348.55

In [55]:
x_train1,x_test1,y_train1,y_test1=train_test_split(x,y2,test_size=0.22,random_state=231)

In [56]:
from sklearn.ensemble import GradientBoostingRegressor
ml1=GradientBoostingRegressor(n_estimators=100,max_depth=6,loss='huber',learning_rate=0.2,criterion='friedman_mse')
ml=GradientBoostingRegressor(n_estimators=10000,max_depth=9,loss='absolute_error',learning_rate=0.001,criterion='squared_error')

In [57]:
ml.fit(x_train,y_train)

GradientBoostingRegressor(criterion='squared_error', learning_rate=0.001,
                          loss='absolute_error', max_depth=9,
                          n_estimators=10000)

In [58]:
ml1.fit(x_train1,y_train1)

GradientBoostingRegressor(learning_rate=0.2, loss='huber', max_depth=6)

In [73]:
y_pred_low=ml1.predict(x_test1)
y_pred_high=ml.predict(x_test)
y_pred_low_t=ml1.predict(x_train1)
y_pred_high_1=ml.predict(x_train)

In [60]:
from sklearn.metrics import r2_score

In [61]:
print(r2_score(y_test,y_pred_high))

0.9991375961322101

In [74]:
print(r2_score(y_train,y_pred_high_1))

0.9994803718045672

In [62]:
print(r2_score(y_test1,y_pred_low))

0.9988344264955361

In [67]:
input_low=[[9240.25,9261.85,9153.25,9192.95]]
input_high=[[9240.25,9261.85,9153.25,9192.95]]

In [68]:
low_pred=ml1.predict(input_low)
high_pred=ml.predict(input_high)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but GradientBoostingRegressor was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but GradientBoostingRegressor was fitted with feature names
  warnings.warn(

In [69]:
print(low_pred)

[9162.57983916]

In [70]:
print(high_pred)

[9257.06613155]